<h2>My Profile</h2>
<p><b>User:</b> <%= @user.name %></p>
<p><b>Email:</b> <%= @user.email if @user.email %></p>
<p></p>
<p><h3>Subscription Details</h3></p>
<table>
  <tr>
    <th>Subscribed Playlists</th>
  </tr>
</table>
<table>
      <% @playlists.each do |pl|%>
           <% @flag = "false" %>
              <% if (@user_playlists == nil) %>
 	      <tr> None </tr>
	      <% end %>
           <% @user_playlists.each do |usr_pl| %>
              <% if(usr_pl.playlist_id == pl.id)%>
                 <tr> <td><%=pl.name %></td><td></td><td></td><td></td><td></td>
		      <!--<td><%= link_to 'Remove', usr_pl, confirm: 'Are you sure?', method: :delete %></td> -->
	              <td><%= link_to 'x', {:controller => "user_playlists", 
                       				  :action => "destroy", 
			                          :id => usr_pl.id},
			                          :method => :delete %></td>
                </tr>
              <% end %>   
           <% end %>       
      <% end %>
</table>
<p></p>
<table>
  <tr>
    <th>Available Playlists</th>
  </tr>
</table>
<table>
      <% @playlists.each do |pl|%>
	<% if (pl == nil) %>
	<tr><td> None</td></tr>
        <% end %>
           <% @flag = "false" %>
           <% @user_playlists.each do |usr_pl| %>
              <% if(usr_pl.playlist_id == pl.id)%>
                 <% @flag = "true" %>   
		 <% break %>
              <% end %>   
           <% end %>       
              <% if (@flag == "false") %>
		<% @user_pl = {:user_id=>@user.id, :playlist_id => pl.id} %>
                 <tr><td><%=pl.name %></td><td></td><td></td><td></td><td></td>
		     <td><%= link_to '√', { :controller => "user_playlists", 
                       				  :action => "create", 
			                          :user_playlist => @user_pl
					    	},
					      :method => :post %></td>
		 </tr>
              <% end %>
      <% end %>
</table>
