<h1>Listing user_playlists</h1>

<table>
  <tr>
    <th>User</th>
    <th>Playlist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_playlists.each do |user_playlist| %>
  <tr>
    <td><%= user_playlist.user_id %></td>
    <td><%= user_playlist.playlist_id %></td>
    <td><%= link_to 'Show', user_playlist %></td>
    <td><%= link_to 'Edit', edit_user_playlist_path(user_playlist) %></td>
    <td><%= link_to 'Destroy', user_playlist, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User playlist', new_user_playlist_path %>
